.category-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.card1::before {
  background-image: linear-gradient(to left bottom, #dd7663, #de7d64, #de8365, #df8a67, #df9069);
}

.card2::before {
  background-image: linear-gradient(to left bottom, #ac6ada, #c16acc, #cf6cbf, #da71b3, #e077a9);
}

.card3::before {
  background-image: linear-gradient(to left bottom, #465ec2, #2869c1, #0b72bb, #0e79b3, #297faa);
}

.category-item h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  color: white;
}